.sidebar {
    position: fixed;
    width: 170px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(000, 000, 000, 0.3);
    z-index: 5;
}
.sidebarlist {
    margin-top: 20px;
	
}
ul {
	padding: 0;
    margin: 0;
}

.sidebarlist li {
    margin: 5px;
    text-align: left;
	font-family:monospace;
	font-size: 18px;
	opacity: 1;
}
.sidebarlist a {
	text-decoration: none;
	color: #fff;
	transition: font-size 0.3s ease-in-out;
	margin-left:5px;
}
.sidebarlist a:hover{
	font-size: 20px;
	transition: 0.3s;
	color: #31e6f0;
}

body {
	background-image: url("bg.jpg");
    margin: 0;
	position: relative;
    color: #fff;
    z-index: 1;
	display: block;
	font-size: 13px;
    line-height: 2;
}
.logo {
	width:140px;
	height: 75px;
	margin-left:7px;
	margin: 7px;
	position: relative;
	z-index: 10;
}
.logofp {
	display: block;
    margin-left: auto;
    margin-top: 150px;
	margin-right: 100px;
    position: relative;
	width: 340px;
	border: 0px solid white;
	text-decoration:none;
	overflow: visible;
	
}

.expo {
  position: absolute;
  left: 50%;
  bottom: 23%;
  transform: translateX(-50%);

  width: 600px;
  height: 450px;

  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,1));
}
.expo2 {
  position: absolute;
  left: 40%;
  bottom:86%;
  transform: translateX(-50%);

  width: 600px;
  height: 450px;

  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,1));
}

.valday {
  position: absolute;
  left: 37%;
  bottom: 168%;
  transform: translateX(-150%);

  width: 150px;
  height: 0px;

  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,1));
}

.valday2	 {
  position: absolute;
  left: 37%;
  bottom: 168%;
  transform: translateX(-150%);

  width: 150px;
  height: 0px;

  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,1));
}

.expo img {
  max-width: 100%;
  max-height: 100%;
}

.fp {
    display: block;
    margin-left: auto;
    margin-top: 150px;
	margin-right: 100px;
    padding-bottom: 30px;
    position: relative;
	width: 340px;
	border: 0px solid white;
	text-decoration:none;
	overflow: visible;
}

.fp2 {
    display: block;
    margin-left: auto;
    margin-top: 150px;
	margin-right: 100px;
    padding-bottom: 30px;
    position: relative;
	width: 340px;
	border: 0px solid white;
	text-decoration:none;
	overflow: visible;
}
.bgback {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index:0;
	width: 340px;
	height: 420px;
	opacity: 0.5;
	filter: brightness(80%);
}
.bgback img {
	width: 100%;
	height: 100%;
	object-fit:cover;
	display: block;
}

.frame {
	position: relative;
	height: 420px;
	z-index:2
}
.bginner {
    height: 100%;
	overflow: hidden;
	box-shadow: 2px 2px 8px rgba(0,0,0,1);
}
.bginner img{
	width: 100%;
	height: 100%;
	object-fit:cover;
	display:block;
	transition: transform 0.4s ease-in-out;
}
.fpmiku {
	width: 40px;
	height: 40px%;
	position: absolute;
    bottom: 20%;
    left: -150%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;s
}

.fpsong {
	position: absolute;
    bottom: -40%;
    left: 21%;
}

.fpmiku2 {
	width: 1%;
	height: 1%;
	position: absolute;
    bottom: 15%;
    left: -10%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;s
}

.fpgif {
	position: absolute;
box-shadow: 8px 8px 10px 2px rgba(0, 6, 0, 0.5);
bottom: 15%;
left: -210%;
    left: -19	0%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;
}
.fpletter {
	position: absolute;
bottom: 145%;
left: -10%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;
}

.fpnote {
	width: 1%;
	height: 1%;
	position: absolute;
    bottom: 87%;
    left: -275%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;s
}


.fpgray {
	box-shadow: 8px 8px 10px 2px rgba(0, 6, 0, 0.5);
	width: 1%;
	height: 1%;
	position: absolute;
    bottom: 95%;
    left: -165%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;s
}


.fpgraynobg {
	width: 1%;
	height: 1%;
	position: absolute;
    bottom: 95%;
    left: -76%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;s
}



	.fpmessage {
    position: absolute;
	 box-shadow: 8px 8px 10px 2px rgba(0, 6, 0, 0.5);
    bottom: 20%;
    left: -170%;
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
	z-index:3;
	
	
}
.fpmiku img {
    width: 360px;
    display: block;
	filter: drop-shadow(1px 2px 3px rgba(0,0,0,1));
	
	
}

}
.fpgray img {
    width: 360px;
    display: block;
	filter: drop-shadow(1px 2px 3px rgba(0,0,0,1));
	
	
}

.fpletter img {
    width: 360px;
    display: block;
	filter: drop-shadow(1px 2px 3px rgba(0,0,0,1));
}	

.fp:hover .fpgraynobg{	
	transform: translateX(-25px) scale(1.1) translateY(-50px);
}
	
.fp:hover .fpmiku{
	transform: translateX(-50%) scale(1.0) translateY(-24px);
}
.fp:hover .bginner img{
	transform: scale(1.05);
	filter: brightness(70%);
}
.fp:hover .fpletter{
	transform: translateX(-50%) scale(1.5) translateY(-24px);
}
.fp_title { position: absolute;
    bottom: 20px;
    left: -95%;
    transform: translateX(-50%);
    text-align: center;
	z-index: 5;
	font-weight: 500;
	font-size: 1.5rem;
	line-height:1;
	color: #fff;
	text-shadow: 2px 2px 8px rgba(0,0,0,1);
	font-family:monospace;

}
.fp_title2 { position: absolute;
    bottom: 10px;
    left: -215%;
    transform: translateX(-50%);
    text-align: center;
	z-index: 5;
	font-weight: 500;
	font-size: 1.5rem;
	line-height:1;
	color: #fff;
	text-shadow: 2px 2px 8px rgba(0,0,0,1);
	font-family:monospace;

}

.fp_title3 { position: absolute;
    bottom: 144%;
    left: 43%;
    transform: translateX(-150%);
    text-align: center;
	z-index: 5;
	font-weight: 500;
	font-size: 1.5rem;
	line-height:1;
	color: #fff;
	text-shadow: 2px 2px 8px rgba(0,0,0,1);
	font-family:monospace;

}

.fpartist {
	position: absolute;
	bottom:-1;
	right: 0;
	z-index:3;
	color:white;
	font-family: monospace;
}